<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

<!-- 

<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">polyA</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="biomartGenes" class="nav-link">biomart</a>
      </li>
      <li class="nav-item">
        <a routerLink="d3test" class="nav-link">d3</a>
      </li>
      <!--
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add [+]</a>
      </li>

    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
-->

<input type="file" (change) = "onChange($event)"/>
